@font-face {
    font-family: 'Tahoma';
    src: url("fonts/tahoma.ttf") format("ttf");
}

@page {
    size: A4 landscape;
}

.page-container{
    width: 1290px;
    font-family: Tahoma, serif;
    display: flex;
    justify-content: space-between;
}

.wrapper{
    width: 595px;
    height: 100%;
    background-color: #fdf8f1;
    margin: 4px;
    padding: 4px;
    flex-direction: column-reverse;
}

.card-head{
    align-items: center;
    text-align: center;
    line-height: 0;
}

.head-line{
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: bold;
}

table{
    width: 100%;
    font-size: 12px;
}
/*This gate pass developed by Easy IT - Najmul Hossain*/
th, td {
    border: 1px dotted;
}

.border-none{
    border: none;
    font-weight: bold;
    text-align: justify;
}

.tfoot-color{
    background-color: #c2c8d1;
}

.p-tag{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-style: italic;
}

.office-copy-style{
    margin-top: 2px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 16px;
}

.signature{
    font-size: 12px;
    margin: 4px 0 4px 0;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    text-align: center;
}

.signature > div{
    padding-bottom: 0;
    width: auto;
}

.qr-and-logo{
    margin-left: 190px;
    text-align: center;
}

.logo{
    width: 150px;
    height: 30px;
    margin-top: 2px;
}

.qr-border{
    width: 55px;
    height: 55px;
    margin-top: 6px;
    margin-left: 120px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 4px;
}
.td-text-center{
    text-align: center;
}

.border-check-style{
    margin: 4px 2px 4px 2px;
    width: 593px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 6px;
}
.border-check-style > div{
    border: black 1px dotted;
    padding: 2px;
    width: 86px;
    display: flex;
    font-size: 14px;
}

.transport-style{
    margin: 4px 1px 4px 1px;
    width: 100%;
    display: flex;
    grid-auto-columns: auto auto;
    font-weight: bold;
}
.transport-style > div{
    padding: 1px;
    flex: 2;
    font-size: 14px;
}

/*.border-line{*/
/*    padding-left: 2px;*/
/*    margin-right: 4px;*/
/*    width: 20px;*/
/*    height: 16px;*/
/*    border: black 1px dotted;*/
/*}*/

.dev-it{
    font-size: 10px;
    color: rgba(70, 64, 64, 0.56);
    margin-left: 4px;
    font-style: italic;
}

.checkbox-style {
    width: 14px;
    height: 14px;
    pointer-events: none;
}





